<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
{% include "Header.html" %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <h1>Initiative List</h1>
        <h3><font color="red">{{ form.message }}</font></h3>
    </div>
    <div align="center">
        <table>
            <tr>
                <th>Initiative Name:</th>
                <td><input type="text" name="initiativeName" placeholder="enter Initiative Name here"></td>
                <td><input type="submit" name="operation" value="search"></td>
            </tr>
        </table>
    </div>
    <br>
    <table border="1%" width="100%">
        <tr>
            <th><input type="checkbox" id="selectall"></th>
            <th>S.No.</th>
            <th>Initiative Name</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>Version</th>
            <th>Edit</th>
        </tr>
        {% for l in pageList %}
        <tr>
            <td align="center"><input type="checkbox" class="case" name="ids" value="{{ l.id }}"></td>
            <td align="center">{{ l.id }}</td>
            <td align="center">{{ l.initiativeName }}</td>
            <td align="center">{{ l.type }}</td>
            <td align="center">{{ l.startDate }}</td>
            <td align="center">{{ l.version }}</td>
            <td align="center"><a href="/Attribute/Edit/{{ l.id }}">edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table style="width: 100%">
        <tr>
            <td style="width: 30%">
                <input type="submit" name="operation" value="previous" {% if form.pageNo == 1 %} disabled {% endif %}>
            </td>

            <td style="width: 25%"><input type="submit" name="operation" value="delete">
            </td>
             <td style="width: 30%">
                <input type="submit" name="operation" value="new">
            </td>
            <td style="text-align: right;">
                <input type="submit" name="operation" value="next" {% if pageList|length < 5 %} disabled {% endif %}>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
