<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <h1>User Registration</h1>
        <h3><font color="green">{{ message }}</font></h3>
        <table>
            <input type="hidden" name="id" value="{{form.id}}">
            <tr>
                <th>FirstName:</th>
                <td><input type="text" name="firstName" value="{{form.firstName}}" style="width:98%"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.firstName }}</td>
            </tr>
            <tr>
                <th>LastName:</th>
                <td><input type="text" name="lastName" value="{{form.lastName}}" style="width:98%"></td>
                <td style="position: fixed; color: red;">{{ form.inputError.lastName }}</td>
            </tr>
            <tr>
                <th>Login ID:</th>
                <td><input type="text" name="loginId" value="{{form.loginId}}" style="width:98%"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.loginId }}</td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password" value="{{form.password}}" style="width:98%"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.password }}</td>
            </tr>
            <tr>
                <th>Confirm:</th>
                <td><input type="text" name="confirmPassword" value="{{form.confirmPassword}}" style="width:98%"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.confirmPassword }}</td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td><input type="date" name="dob" style="width: 98%;" value="{{form.dob}}"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.dob }}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text" name="address" value="{{form.address}}" style="width:98%"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.address }}</td>

            </tr>
            <tr>
                <th>Gender:</th>
                <td>
                    <input type="radio" name="gender" value="Male" {% if form.gender == "Male" %}checked{% endif %}> Male
                    <input type="radio" name="gender" value="Female" {% if form.gender == "Female" %}checked{% endif %}> Female
                    <input type="radio" name="gender" value="Other" {% if form.gender == "Other" %}checked{% endif %}> Other
                </td>
                <td style="position: fixed; color: red;">{{ form.inputError.gender }}</td>
            </tr>
            <tr>
                <th>Mobile:</th>
                <td><input type="text" name="mobileNumber" value="{{form.mobileNumber}}" style="width:98%"></td>
                <td style="position: fixed; color: red;"> {{ form.inputError.mobileNumber }}</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="signUp"></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>